---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import TechMarquee from "../components/TechMarquee.astro";
import FAQ from "../components/FAQ.astro";
---

<Base title="Home">
  <Hero />
  <Services />
  <TechMarquee />
  <FAQ />
  <div class="h-20"></div>
</Base>
