---
import { frontmatter as metadata } from "../data/metadata.mdx";
import { HeartHandshake, UsersRound, HandHeart } from "@lucide/astro";
const servicesSection = metadata.servicesSection ?? {};
const { title, items: services = [] } = servicesSection;
const iconMap: Record<string, any> = {
  HeartHandshake,
  UsersRound,
  HandHeart,
};
---

<section class="bg-white py-20">
  <div class="mx-auto max-w-6xl px-6">
    <h2 class="mb-16 text-center text-3xl font-bold text-[#2B2B40] md:text-4xl">
      {title}
    </h2>

    <div class="grid gap-12 text-center md:grid-cols-3">
      {
        services.map((s: any, index: number) => (
          <div class="flex flex-col items-center hover:scale-105 transition-all duration-300">
            <>
              <div class="mb-6 flex h-24 w-24 items-center justify-center rounded-full bg-[#E5DACE] text-[#D9776E]">
                {iconMap[s.icon] ? (
                  <iconMap[s.icon] size={40}/>
                ) : (
                  <span class="text-4xl">★</span>
                )}
              </div>
              <h3 class="mb-4 text-xl font-bold text-[#2B2B40]">{s.title}</h3>
            </>

            <p class="max-w-xs leading-relaxed text-[#4A4A4A]">
              {s.description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
