---
import Base from "./Base.astro";
const { title = "Page" } = Astro.props;
---

<Base title={title}>
  <div class="flex items-start justify-center p-10">
    <article class="prose dark:prose-invert md:prose-lg text-left">
      <slot />
    </article>
  </div>
</Base>
